@import "global.css";

h1,h2,h3,h4,h5,h6 {
	text-align: center;

}
p {
	text-align: center;
}

#links {
	max-width: 60%;
	display: inline-block;
}
#links ul {
	background-color: #333;
	width: calc(100% - .7em);
	list-style-type: none;
	padding: 0.5em 0.35em;
	margin: 0;
}

#links label h2 {
	border-top: 2px solid #333;
}

#links h2 {
	background-color: var(--main-bg-color);
}

#links li {
	margin-bottom: 0.5em;
}

label > h1,
label > h2,
label > h3,
label > h4,
label > h5,
label > h6 {
	padding: 0.25em 0 0.25em 0;
}

li a {
	display: block;
	text-align: center;
}

.description {
	display: block;
	text-align: center;
	font-size:0.8em;
}
@media (max-device-width: 968px)
{
	#links {
		max-width: calc(90% - 1em);
	}
	#links ul {
		display: block;
		
	}

}